:root {
    --main-bg-color: #CDCDCDFF;
    --main-div-color: #E9E9E9FF;
    --main-span-color: #88BBD6FF;
    --main-a-color: #99D3DFFF;
}

html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

a, u {
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: monospace;
    background-image: linear-gradient(var(--main-div-color), var(--main-bg-color), var(--main-bg-color), var(--main-span-color), var(--main-a-color), var(--main-a-color));
}

section {
    overflow: auto;
    padding: 8px 8px;
}

#prime {
    padding: 16px 32px;
    min-height: 512px;
    background-image: url(./assets/prime-bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100%;
}

#prime h1 {
    font-size: 50px;
    margin: 450px 0px 8px 0px;
    padding: 0;
}

#prime h2 {
    padding: 0;
    margin: 8px 4px;
    font-size: 20px;
    color: #444444;
}

footer {
    margin: 0;
    padding: 0;
}

footer p, img {
    padding: 0;
    margin: 2px 2px;
}

footer div {
    padding: 8px 0px;
    background-color: var(--main-a-color);
    text-align: center;
}

#about-me {
    background-image: url("./assets/about_me_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 10% 24px 10%;
}

#about-me h1 {
    font-size: 52px;
    margin: 0px;
    margin-bottom: 100px;
}

#about-me h3 {
    font-size: 20px;
    margin: 0px;
    padding: 8px;
}

#skills p {
    border-radius: 4px;
    padding: 2px;
    margin-right: 20%;
    background-color: #000000aa;
}

.spanheight {
    line-height: 32px;
}

.right {
    text-align: right;
}

.middle {
    text-align: center;
}

span {
    padding: 4px;
    color: black;
    background-color: var(--main-a-color);
    border-radius: 8px;
    margin: 2px;
    border: solid 1px var(--main-span-color);
}

#projects {
    /* background-color: var(--main-span-color); */
    padding: 4px 0px;
    overflow: auto;
}

#projects h2 {
    padding: 8px;
    margin: 0;
    margin-right: 10%;
    font-size: 52px;
}

.project {
    border-radius: 8px;
    border: solid 2px var(--main-a-color);
    background-color: var(--main-div-color);
    width: 90%;
    padding: 10px;
    margin: 4px auto;
}

.project h1 {
    font-size: 35px;
    padding: 0;
    margin: 8px 0px;
}

.button {
    text-align: center;
    padding: 8px;
    color: black;
}

.button a {
    padding: 8px;
    margin: 0px 4px;
    border: solid 2px var(--main-a-color);
    border-radius: 4px;
}

.button a:hover {
    background-color: white;
}
